@use '../../styles/variable.scss' as *;

.main {
  min-height: calc(100vh - 9rem);
  padding-block: 0.5rem;
}

.content_section {
  min-height: 20rem;
  display: grid;
  align-self: center;
}

.content__wrapper {
  border: 2px solid indigo;
  width: min(90%, 37rem);
  margin-inline: auto;
  min-height: calc(100vh - 9rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.content__imgWrapper {
  width: min(50%, 12.5rem);
  aspect-ratio: 1 /1;
  border-radius: 50%;
}

.description {
  display: grid;
  gap: 0.5rem;
  text-align: center;

  h1 {
    font-size: clamp(1.7rem, calc(2.5vw + 0.5rem), 3rem);
    line-height: 1;
  }

  h2 {
    font-size: 1.3rem;
    opacity: 0.8;
  }
}

.links_container {
  display: flex;
  gap: 1rem;

  span a i {
    font-size: 2rem;
    color: $color-primary;
    text-align: center;
    transition: all ease-in 0.2s;

    &:hover {
      opacity: 0.5;
    }
  }
}
