@use '../styles/variable.scss' as *;

.header {
  position: sticky;
  inset: 0;
}

.content_wrapper {
  width: min(90%, 78rem);
  margin-inline: auto;
  display: flex;
  min-height: 4.5rem;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(196, 196, 196, 0.1);

  span {
    font-weight: $font-weight-large;
    font-size: 2rem;
  }

  a {
    color: $color-primary;
    background-color: $color-black;
    padding: 0.5rem 0.8rem;
    border-radius: 0.5rem;
    transition: all ease-in 0.2s;

    &:hover {
      text-decoration: none;
    }
  }
}
