//Primary Colors
$color-primary: #ffffff;

//Secondary Colors
$color-black: #151515;
$color-grey: #777778;
$color-light-grey: #bebebe;
$color-light-dark: #1b1b1d;

//Font-family
$font-secondary: 'Montserrat', sans-serif;

//Font-weight
$font-weight-large: 700;
$font-weight-medium: 500;
$font-weight-small: 400;

//Breakpoints
$breakpoint-small: 31.25em; //500px
$breakpoint-medium: 37.5em; //600px
$breakpoint-large: 43.75em; //700px
$breakpoint-larger: 46.875em; //750px
$breakpoint-largest: 62.5em; //1000px
$breakpoint-massive: 81.25em; //1300px

//Mixins
@mixin containerWidth {
  width: min(87.2%, 70rem);
  margin: 0 auto;
}
