@use '../../styles/variable.scss' as *;

.main {
  padding-block: 5rem;

  & > *:not(:last-child) {
    margin-bottom: 6rem;
  }

  & section > div {
    width: min(90%, 78rem);
    margin-inline: auto;
  }

  h2 {
    font-size: 1.7rem;
  }
}

.about_me {
  display: grid;
  gap: 2.5rem;

  a {
    transition: all ease-out 0.2s;

    &:hover {
      text-decoration: none;
    }
  }
}

.skills_container {
  padding-left: 1.5rem;
  margin-block: 1rem 2rem;

  & > *:not(:last-child) {
    margin-bottom: 2rem;
  }
}

.subList {
  padding-left: 1rem;

  & li {
    font-weight: $font-weight-medium;
  }
}

.message {
  margin-top: 1rem;
  text-align: center;
  font-size: 1.3rem;
}
